*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    background-image: url(bg.png);
    background-size: cover;
    background-position: center;
}

.image{
    cursor: pointer;
    transition: 1s;
}

.image:hover{
    transform: translate(90px);
}


section nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p{
    font-size: 16px;
    font-style: italic;
}

section nav .logo img{
    width: 180px;
    margin: 10px 18%;
    cursor: pointer;
}

section nav ul{
    list-style: none;
    margin-right: 50px;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    color: white;
    text-decoration: none;
}


section .main{
    display: flex;
}

section .main .text{
    margin: 0 5%;
    position: relative;
    top: 90px;
}

section .main .text h1{
    font-size: 55px;
    margin: 30px 0;
}

section .main .text h1 span{
    font-size: 75px;
    color: #00a950;
}

section .main .text p{
    width: 650px;
    text-align: justify;
    line-height: 22px;
    margin-bottom: 85px;
}

section .main .text .btn{
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    background: #00a950;
    text-transform: uppercase;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

section .main .image img{
    width: 210px;
    position: relative;
    top: 6%;
    left: 125px;
}

section .main .icon{
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translate(-50%,-50%);
    font-size: 19px;
}

section .main .icon i{
    margin: 8px 0;
    cursor: pointer;
    transition: 0.3s;
}

section .main .icon i:hover{
    color: #e6e6e6;
}

